In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("nba_games.csv", index_col=0)

In [3]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,38.0,72.0,0.528,16.0,37.0,0.432,18.0,21.0,...,26.2,26.8,155.0,123.0,MIA,107,1,2023,2022-11-07,True
1,240.0,240.0,40.0,84.0,0.476,14.0,39.0,0.359,13.0,15.0,...,41.0,37.3,160.0,121.0,POR,110,0,2023,2022-11-07,False
2,240.0,240.0,41.0,78.0,0.526,8.0,24.0,0.333,15.0,19.0,...,28.6,41.1,250.0,125.0,DAL,90,1,2023,2022-12-14,True
3,240.0,240.0,29.0,74.0,0.392,13.0,38.0,0.342,19.0,26.0,...,12.6,33.0,183.0,110.0,CLE,105,0,2023,2022-12-14,False
4,240.0,240.0,37.0,87.0,0.425,7.0,33.0,0.212,32.0,35.0,...,20.0,32.3,226.0,117.0,TOR,126,1,2023,2022-12-07,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5281,265.0,265.0,46.0,106.0,0.434,14.0,50.0,0.280,13.0,24.0,...,30.6,29.5,181.0,112.0,GSW,114,0,2023,2023-02-01,True
5282,240.0,240.0,32.0,89.0,0.360,9.0,43.0,0.209,18.0,21.0,...,33.7,37.2,158.0,101.0,GSW,115,1,2023,2023-03-02,False
5283,240.0,240.0,39.0,93.0,0.419,14.0,46.0,0.304,23.0,27.0,...,42.9,28.1,136.0,124.0,LAC,91,0,2023,2023-03-02,True
5284,240.0,240.0,49.0,85.0,0.576,12.0,27.0,0.444,16.0,18.0,...,66.7,36.6,198.0,135.0,SAC,127,1,2023,2022-12-28,False
5285,240.0,240.0,47.0,89.0,0.528,14.0,31.0,0.452,19.0,25.0,...,41.0,45.3,162.0,135.0,DEN,126,0,2023,2022-12-28,True

In [4]:
df = df.sort_values("date")

df = df.reset_index(drop=True)

In [5]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [6]:
def add_target(group):
    group["target"] = group["won"].shift(-1)
    return group

df = df.groupby("team", group_keys=False).apply(add_target)

In [7]:
df[df["team"] == "WAS"]

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
4,240.0,36.0,81.0,0.444,5.0,27.0,0.185,21.0,26.0,0.808,...,25.8,179.0,100.0,TOR,83,1,2022,2021-10-20,True,True
32,265.0,49.0,94.0,0.521,19.0,38.0,0.500,18.0,19.0,0.947,...,42.5,152.0,135.0,IND,134,0,2022,2021-10-22,True,False
96,240.0,33.0,95.0,0.347,9.0,39.0,0.231,15.0,20.0,0.750,...,32.2,200.0,98.0,BRK,104,1,2022,2021-10-25,False,True
122,240.0,43.0,84.0,0.512,9.0,25.0,0.360,21.0,29.0,0.724,...,33.6,233.0,127.0,BOS,107,1,2022,2021-10-27,True,True
134,240.0,46.0,99.0,0.465,13.0,34.0,0.382,17.0,21.0,0.810,...,32.9,154.0,131.0,ATL,111,0,2022,2021-10-28,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,240.0,39.0,79.0,0.494,16.0,37.0,0.432,15.0,18.0,0.833,...,31.2,192.0,120.0,NYK,118,1,2023,2023-04-02,False,False
5018,240.0,50.0,99.0,0.505,13.0,27.0,0.481,15.0,21.0,0.714,...,37.5,208.0,126.0,MIL,140,0,2023,2023-04-04,False,False
5031,240.0,45.0,94.0,0.479,6.0,28.0,0.214,20.0,26.0,0.769,...,40.6,206.0,121.0,ATL,134,1,2023,2023-04-05,False,True
5058,240.0,39.0,84.0,0.464,7.0,33.0,0.212,29.0,37.0,0.784,...,44.5,149.0,117.0,MIA,108,0,2023,2023-04-07,True,False
5079,240.0,41.0,97.0,0.423,14.0,45.0,0.311,13.0,21.0,0.619,...,27.3,136.0,117.0,HOU,114,0,2023,2023-04-09,False,NaN

In [8]:
df["target"][pd.isnull(df["target"])] = 2
df["target"] = df["target"].astype(int, errors="ignore")

/var/folders/ch/d4_sccmx159_9g9y3vsbm4yr0000gn/T/ipykernel_1062/2793819745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2

In [9]:
df["won"].value_counts()

True     2643
False    2643
Name: won, dtype: int64

In [10]:
df["target"].value_counts()

1    2628
0    2628
2      30
Name: target, dtype: int64

In [11]:
nulls = pd.isnull(df).sum()

In [12]:
nulls = nulls[nulls > 0]

In [13]:
valid_columns = df.columns[~df.columns.isin(nulls.index)]

In [14]:
valid_columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=140)

In [15]:

df = df[valid_columns].copy()

In [16]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,41.0,93.0,0.441,14.0,39.0,0.359,25.0,30.0,0.833,...,32.2,209.0,115.0,LAL,114,1,2022,2021-10-19,True,1
1,240.0,48.0,105.0,0.457,17.0,45.0,0.378,14.0,18.0,0.778,...,46.8,178.0,133.0,BRK,104,0,2022,2021-10-19,True,0
2,240.0,37.0,84.0,0.440,17.0,32.0,0.531,13.0,23.0,0.565,...,63.2,175.0,113.0,MIL,127,1,2022,2021-10-19,False,1
3,240.0,45.0,95.0,0.474,15.0,42.0,0.357,9.0,19.0,0.474,...,100.0,174.0,108.0,GSW,121,0,2022,2021-10-19,False,0
4,240.0,36.0,81.0,0.444,5.0,27.0,0.185,21.0,26.0,0.808,...,25.8,179.0,100.0,TOR,83,1,2022,2021-10-20,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5281,240.0,34.0,92.0,0.370,11.0,35.0,0.314,15.0,19.0,0.789,...,33.4,202.0,113.0,DEN,109,0,2023,2023-06-07,False,0
5282,240.0,35.0,78.0,0.449,8.0,25.0,0.320,17.0,20.0,0.850,...,32.6,164.0,114.0,DEN,108,0,2023,2023-06-09,False,0
5283,240.0,39.0,79.0,0.494,14.0,28.0,0.500,16.0,21.0,0.762,...,30.3,223.0,127.0,MIA,95,1,2023,2023-06-09,True,1
5284,240.0,33.0,96.0,0.344,9.0,35.0,0.257,14.0,16.0,0.875,...,26.4,202.0,104.0,DEN,94,1,2023,2023-06-12,False,2
5285,240.0,38.0,84.0,0.452,5.0,28.0,0.179,13.0,23.0,0.565,...,42.5,102.0,109.0,MIA,89,0,2023,2023-06-12,True,2

In [17]:
from sklearn.linear_model import RidgeClassifier
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.model_selection import TimeSeriesSplit

rr = RidgeClassifier(alpha=1)

split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr, n_features_to_select=30, direction="forward", cv=split, n_jobs=1)

In [18]:
removed_columns = ["season", "date", "won", "target", "team", "team_opp"]
selected_columns = df.columns[~df.columns.isin(removed_columns)]

In [19]:

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns])

In [20]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.0,0.428571,0.508772,0.400000,0.48,0.521739,0.504472,0.575,0.571429,0.761429,...,0.130769,0.540404,0.381579,LAL,0.386139,1.0,2022,2021-10-19,True,1
1,0.0,0.595238,0.719298,0.439024,0.60,0.652174,0.538462,0.300,0.326531,0.682857,...,0.317949,0.383838,0.618421,BRK,0.287129,0.0,2022,2021-10-19,True,0
2,0.0,0.333333,0.350877,0.397561,0.60,0.369565,0.812165,0.275,0.428571,0.378571,...,0.528205,0.368687,0.355263,MIL,0.514851,1.0,2022,2021-10-19,False,1
3,0.0,0.523810,0.543860,0.480488,0.52,0.586957,0.500894,0.175,0.346939,0.248571,...,1.000000,0.363636,0.289474,GSW,0.455446,0.0,2022,2021-10-19,False,0
4,0.0,0.309524,0.298246,0.407317,0.12,0.260870,0.193202,0.475,0.489796,0.725714,...,0.048718,0.388889,0.184211,TOR,0.079208,1.0,2022,2021-10-20,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5281,0.0,0.261905,0.491228,0.226829,0.36,0.434783,0.423971,0.325,0.346939,0.698571,...,0.146154,0.505051,0.355263,DEN,0.336634,0.0,2023,2023-06-07,False,0
5282,0.0,0.285714,0.245614,0.419512,0.24,0.217391,0.434705,0.375,0.367347,0.785714,...,0.135897,0.313131,0.368421,DEN,0.326733,0.0,2023,2023-06-09,False,0
5283,0.0,0.380952,0.263158,0.529268,0.48,0.282609,0.756708,0.350,0.387755,0.660000,...,0.106410,0.611111,0.539474,MIA,0.198020,1.0,2023,2023-06-09,True,1
5284,0.0,0.238095,0.561404,0.163415,0.28,0.434783,0.322004,0.300,0.285714,0.821429,...,0.056410,0.505051,0.236842,DEN,0.188119,1.0,2023,2023-06-12,False,2
5285,0.0,0.357143,0.350877,0.426829,0.12,0.282609,0.182469,0.275,0.428571,0.378571,...,0.262821,0.000000,0.302632,MIA,0.138614,0.0,2023,2023-06-12,True,2

In [21]:
sfs.fit(df[selected_columns], df["target"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=30, n_jobs=1)

In [22]:
predictors = list(selected_columns[sfs.get_support()])

In [23]:

predictors

['3p',
 '3pa',
 'ft%',
 'stl',
 'pts',
 'stl%',
 'usg%',
 'ortg',
 'ft_max',
 'drb%_max',
 'blk%_max',
 'drtg_max',
 'total',
 '3p%_opp',
 'ast_opp',
 'tov_opp',
 'tov%_opp',
 'usg%_opp',
 'drtg_opp',
 'fga_max_opp',
 '3p_max_opp',
 '3pa_max_opp',
 'ft%_max_opp',
 'ast_max_opp',
 'pf_max_opp',
 'ftr_max_opp',
 'drb%_max_opp',
 'ast%_max_opp',
 'blk%_max_opp',
 'usg%_max_opp']

In [30]:
def backtest(data, model, predictors, start=1, step=1):
    all_predictions = []
    
    seasons = sorted(data["season"].unique())
    
    for i in range(start, len(seasons), step):
        season = seasons[i]
        train = data[data["season"] < season]
        test = data[data["season"] == season]
        
        if test.empty:
            print(f"Skipping season {season} as the test set is empty.")
            continue
        
        model.fit(train[predictors], train["target"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)
        combined = pd.concat([test["target"], preds], axis=1)
        combined.columns = ["actual", "prediction"]
        
        all_predictions.append(combined)
    
    if not all_predictions:
        print("No predictions were generated.")
        return None
    
    return pd.concat(all_predictions)

In [31]:
predictions = backtest(df, rr, predictors)

In [32]:
from sklearn.metrics import accuracy_score

accuracy_score(predictions["actual"], predictions["prediction"])

0.5488636363636363

In [33]:
df.groupby(["home"]).apply(lambda x: x[x["won"] == 1].shape[0] / x.shape[0])

home
0.0    0.43549
1.0    0.56451
dtype: float64

In [34]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.0,0.428571,0.508772,0.400000,0.48,0.521739,0.504472,0.575,0.571429,0.761429,...,0.130769,0.540404,0.381579,LAL,0.386139,1.0,2022,2021-10-19,True,1
1,0.0,0.595238,0.719298,0.439024,0.60,0.652174,0.538462,0.300,0.326531,0.682857,...,0.317949,0.383838,0.618421,BRK,0.287129,0.0,2022,2021-10-19,True,0
2,0.0,0.333333,0.350877,0.397561,0.60,0.369565,0.812165,0.275,0.428571,0.378571,...,0.528205,0.368687,0.355263,MIL,0.514851,1.0,2022,2021-10-19,False,1
3,0.0,0.523810,0.543860,0.480488,0.52,0.586957,0.500894,0.175,0.346939,0.248571,...,1.000000,0.363636,0.289474,GSW,0.455446,0.0,2022,2021-10-19,False,0
4,0.0,0.309524,0.298246,0.407317,0.12,0.260870,0.193202,0.475,0.489796,0.725714,...,0.048718,0.388889,0.184211,TOR,0.079208,1.0,2022,2021-10-20,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5281,0.0,0.261905,0.491228,0.226829,0.36,0.434783,0.423971,0.325,0.346939,0.698571,...,0.146154,0.505051,0.355263,DEN,0.336634,0.0,2023,2023-06-07,False,0
5282,0.0,0.285714,0.245614,0.419512,0.24,0.217391,0.434705,0.375,0.367347,0.785714,...,0.135897,0.313131,0.368421,DEN,0.326733,0.0,2023,2023-06-09,False,0
5283,0.0,0.380952,0.263158,0.529268,0.48,0.282609,0.756708,0.350,0.387755,0.660000,...,0.106410,0.611111,0.539474,MIA,0.198020,1.0,2023,2023-06-09,True,1
5284,0.0,0.238095,0.561404,0.163415,0.28,0.434783,0.322004,0.300,0.285714,0.821429,...,0.056410,0.505051,0.236842,DEN,0.188119,1.0,2023,2023-06-12,False,2
5285,0.0,0.357143,0.350877,0.426829,0.12,0.282609,0.182469,0.275,0.428571,0.378571,...,0.262821,0.000000,0.302632,MIA,0.138614,0.0,2023,2023-06-12,True,2

In [35]:
df_rolling = df[list(selected_columns) + ["won", "team", "season"]]

def find_team_averages(team):
    rolling = team.rolling(10).mean()
    return rolling

df_rolling = df_rolling.groupby(["team", "season"], group_keys=False).apply(find_team_averages)

/var/folders/ch/d4_sccmx159_9g9y3vsbm4yr0000gn/T/ipykernel_1062/1009080087.py:4: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['team'], dtype='object')
  rolling = team.rolling(10).mean()

In [36]:
df_rolling

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,won,season
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5281,0.0,0.390476,0.384211,0.451463,0.440,0.356522,0.603936,0.3100,0.312245,0.783143,...,0.0454,0.0872,0.219210,0.245256,0.467172,0.507895,0.304950,0.6,0.5,2023.0
5282,0.0,0.364286,0.371930,0.429024,0.408,0.343478,0.568873,0.3150,0.314286,0.791857,...,0.0452,0.0910,0.249626,0.246154,0.457071,0.480263,0.297030,0.5,0.4,2023.0
5283,0.0,0.450000,0.338596,0.551951,0.388,0.313043,0.564937,0.4225,0.428571,0.741286,...,0.0458,0.0883,0.307471,0.340769,0.387374,0.584211,0.290099,0.5,0.9,2023.0
5284,0.0,0.342857,0.378947,0.401463,0.408,0.363043,0.552952,0.3050,0.308163,0.781571,...,0.0465,0.1108,0.244077,0.237949,0.480303,0.455263,0.286139,0.5,0.3,2023.0
5285,0.0,0.440476,0.336842,0.541707,0.356,0.315217,0.510912,0.4025,0.418367,0.714857,...,0.0379,0.0812,0.303629,0.350641,0.334343,0.556579,0.277228,0.5,0.9,2023.0

In [37]:
rolling_cols = [f"{col}_10" for col in df_rolling.columns]
df_rolling.columns = rolling_cols
df = pd.concat([df, df_rolling], axis=1)

In [38]:
df = df.dropna()

In [39]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp_10,blk%_max_opp_10,tov%_max_opp_10,usg%_max_opp_10,ortg_max_opp_10,drtg_max_opp_10,total_opp_10,home_opp_10,won_10,season_10
246,0.0,0.476190,0.421053,0.517073,0.48,0.586957,0.457961,0.100,0.163265,0.428571,...,0.0642,0.0761,0.402668,0.125897,0.280303,0.419737,0.360396,0.5,0.3,2022.0
249,0.0,0.357143,0.333333,0.441463,0.32,0.326087,0.457961,0.350,0.346939,0.774286,...,0.0792,0.0930,0.534365,0.204872,0.512626,0.406579,0.292079,0.7,0.6,2022.0
252,0.0,0.285714,0.438596,0.282927,0.40,0.565217,0.386404,0.125,0.163265,0.571429,...,0.0884,0.1282,0.414088,0.163462,0.564141,0.360526,0.332673,0.6,0.2,2022.0
255,0.0,0.452381,0.614035,0.358537,0.40,0.260870,0.656530,0.075,0.142857,0.365714,...,0.0447,0.1036,0.424973,0.183462,0.385859,0.446053,0.251485,0.4,0.6,2022.0
256,0.0,0.476190,0.491228,0.463415,0.36,0.434783,0.423971,0.275,0.387755,0.455714,...,0.0738,0.1141,0.430736,0.149103,0.377778,0.452632,0.419802,0.6,0.5,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5281,0.0,0.261905,0.491228,0.226829,0.36,0.434783,0.423971,0.325,0.346939,0.698571,...,0.0454,0.0872,0.219210,0.245256,0.467172,0.507895,0.304950,0.6,0.5,2023.0
5282,0.0,0.285714,0.245614,0.419512,0.24,0.217391,0.434705,0.375,0.367347,0.785714,...,0.0452,0.0910,0.249626,0.246154,0.457071,0.480263,0.297030,0.5,0.4,2023.0
5283,0.0,0.380952,0.263158,0.529268,0.48,0.282609,0.756708,0.350,0.387755,0.660000,...,0.0458,0.0883,0.307471,0.340769,0.387374,0.584211,0.290099,0.5,0.9,2023.0
5284,0.0,0.238095,0.561404,0.163415,0.28,0.434783,0.322004,0.300,0.285714,0.821429,...,0.0465,0.1108,0.244077,0.237949,0.480303,0.455263,0.286139,0.5,0.3,2023.0
5285,0.0,0.357143,0.350877,0.426829,0.12,0.282609,0.182469,0.275,0.428571,0.378571,...,0.0379,0.0812,0.303629,0.350641,0.334343,0.556579,0.277228,0.5,0.9,2023.0

In [40]:
def shift_col(team, col_name):
    next_col = team[col_name].shift(-1)
    return next_col

def add_col(df, col_name):
    return df.groupby("team", group_keys=False).apply(lambda x: shift_col(x, col_name))

df["home_next"] = add_col(df, "home")
df["team_opp_next"] = add_col(df, "team_opp")
df["date_next"] = add_col(df, "date")

In [41]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp_10,ortg_max_opp_10,drtg_max_opp_10,total_opp_10,home_opp_10,won_10,season_10,home_next,team_opp_next,date_next
246,0.0,0.476190,0.421053,0.517073,0.48,0.586957,0.457961,0.100,0.163265,0.428571,...,0.125897,0.280303,0.419737,0.360396,0.5,0.3,2022.0,0.0,SAC,2021-11-07
249,0.0,0.357143,0.333333,0.441463,0.32,0.326087,0.457961,0.350,0.346939,0.774286,...,0.204872,0.512626,0.406579,0.292079,0.7,0.6,2022.0,0.0,NYK,2021-11-07
252,0.0,0.285714,0.438596,0.282927,0.40,0.565217,0.386404,0.125,0.163265,0.571429,...,0.163462,0.564141,0.360526,0.332673,0.6,0.2,2022.0,1.0,UTA,2021-11-07
255,0.0,0.452381,0.614035,0.358537,0.40,0.260870,0.656530,0.075,0.142857,0.365714,...,0.183462,0.385859,0.446053,0.251485,0.4,0.6,2022.0,1.0,BRK,2021-11-07
256,0.0,0.476190,0.491228,0.463415,0.36,0.434783,0.423971,0.275,0.387755,0.455714,...,0.149103,0.377778,0.452632,0.419802,0.6,0.5,2022.0,0.0,LAC,2021-11-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5281,0.0,0.261905,0.491228,0.226829,0.36,0.434783,0.423971,0.325,0.346939,0.698571,...,0.245256,0.467172,0.507895,0.304950,0.6,0.5,2023.0,1.0,DEN,2023-06-09
5282,0.0,0.285714,0.245614,0.419512,0.24,0.217391,0.434705,0.375,0.367347,0.785714,...,0.246154,0.457071,0.480263,0.297030,0.5,0.4,2023.0,0.0,DEN,2023-06-12
5283,0.0,0.380952,0.263158,0.529268,0.48,0.282609,0.756708,0.350,0.387755,0.660000,...,0.340769,0.387374,0.584211,0.290099,0.5,0.9,2023.0,1.0,MIA,2023-06-12
5284,0.0,0.238095,0.561404,0.163415,0.28,0.434783,0.322004,0.300,0.285714,0.821429,...,0.237949,0.480303,0.455263,0.286139,0.5,0.3,2023.0,NaN,NaN,NaN
5285,0.0,0.357143,0.350877,0.426829,0.12,0.282609,0.182469,0.275,0.428571,0.378571,...,0.350641,0.334343,0.556579,0.277228,0.5,0.9,2023.0,NaN,NaN,NaN

In [44]:
full = df.merge(df[rolling_cols + ["team_opp_next", "date_next", "team"]], left_on=["team", "date_next"], right_on=["team_opp_next", "date_next"])

In [45]:
full

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp_10_y,usg%_max_opp_10_y,ortg_max_opp_10_y,drtg_max_opp_10_y,total_opp_10_y,home_opp_10_y,won_10_y,season_10_y,team_opp_next_y,team_y
0,0.0,0.476190,0.298246,0.619512,0.44,0.239130,0.756708,0.325,0.346939,0.698571,...,0.247492,0.141282,0.499495,0.484211,0.353465,0.5,0.6,2022.0,PHI,NYK
1,0.0,0.452381,0.385965,0.514634,0.28,0.347826,0.381038,0.225,0.285714,0.554286,...,0.412593,0.185769,0.424747,0.473684,0.269307,0.4,0.6,2022.0,BOS,TOR
2,0.0,0.190476,0.456140,0.163415,0.28,0.369565,0.364937,0.425,0.448980,0.702857,...,0.443543,0.155769,0.422222,0.443421,0.417822,0.7,0.4,2022.0,LAL,CHO
3,0.0,0.261905,0.438596,0.256098,0.24,0.586957,0.202147,0.550,0.551020,0.754286,...,0.391782,0.176026,0.407576,0.431579,0.386139,0.7,0.3,2022.0,UTA,ATL
4,0.0,0.333333,0.526316,0.285366,0.32,0.456522,0.359571,0.200,0.326531,0.365714,...,0.361900,0.169359,0.437879,0.485526,0.279208,0.4,0.7,2022.0,MIL,PHI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4687,0.0,0.357143,0.245614,0.512195,0.60,0.434783,0.731664,0.400,0.367347,0.857143,...,0.343436,0.267051,0.387374,0.592105,0.350495,0.5,0.7,2023.0,MIA,DEN
4688,0.0,0.428571,0.280702,0.575610,0.12,0.065217,0.359571,0.500,0.510204,0.735714,...,0.219210,0.245256,0.467172,0.507895,0.304950,0.6,0.5,2023.0,DEN,MIA
4689,0.0,0.261905,0.491228,0.226829,0.36,0.434783,0.423971,0.325,0.346939,0.698571,...,0.301921,0.340897,0.373232,0.600000,0.323762,0.5,0.8,2023.0,MIA,DEN
4690,0.0,0.285714,0.245614,0.419512,0.24,0.217391,0.434705,0.375,0.367347,0.785714,...,0.307471,0.340769,0.387374,0.584211,0.290099,0.5,0.9,2023.0,MIA,DEN
4691,0.0,0.380952,0.263158,0.529268,0.48,0.282609,0.756708,0.350,0.387755,0.660000,...,0.249626,0.246154,0.457071,0.480263,0.297030,0.5,0.4,2023.0,DEN,MIA

In [46]:
full[["team_x", "team_opp_next_x", "team_y", "team_opp_next_y", "date_next"]]

     team_x team_opp_next_x team_y team_opp_next_y   date_next
0       PHI             NYK    NYK             PHI  2021-11-08
1       BOS             TOR    TOR             BOS  2021-11-10
2       LAL             CHO    CHO             LAL  2021-11-08
3       UTA             ATL    ATL             UTA  2021-11-09
4       MIL             PHI    PHI             MIL  2021-11-09
...     ...             ...    ...             ...         ...
4687    MIA             DEN    DEN             MIA  2023-06-07
4688    DEN             MIA    MIA             DEN  2023-06-09
4689    MIA             DEN    DEN             MIA  2023-06-09
4690    MIA             DEN    DEN             MIA  2023-06-12
4691    DEN             MIA    MIA             DEN  2023-06-12

[4692 rows x 5 columns]

In [47]:
removed_columns = list(full.columns[full.dtypes == "object"]) + removed_columns

In [48]:
removed_columns

['team_x',
 'team_opp',
 'date',
 'team_opp_next_x',
 'date_next',
 'team_opp_next_y',
 'team_y',
 'season',
 'date',
 'won',
 'target',
 'team',
 'team_opp']

In [49]:

selected_columns = full.columns[~full.columns.isin(removed_columns)]
sfs.fit(full[selected_columns], full["target"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=30, n_jobs=1)

In [50]:
predictors = list(selected_columns[sfs.get_support()])

In [51]:
predictors

['fga',
 'usg%',
 '3p_max',
 'ft%_max',
 'pts_max',
 'tov%_max',
 'usg%_opp',
 'fga_max_opp',
 'fg_10_x',
 'pts_10_x',
 'usg%_10_x',
 'ft_max_10_x',
 'pts_max_10_x',
 'orb%_max_10_x',
 'blk%_max_10_x',
 'total_10_x',
 'ftr_opp_10_x',
 'usg%_opp_10_x',
 'trb_max_opp_10_x',
 'blk%_max_opp_10_x',
 'won_10_x',
 'home_next',
 'usg%_10_y',
 'fg_max_10_y',
 'orb_max_10_y',
 'ast_max_10_y',
 'orb%_max_10_y',
 'usg%_opp_10_y',
 'blk_max_opp_10_y',
 'won_10_y']

In [52]:
predictions = backtest(full, rr, predictors)

In [53]:
accuracy_score(predictions["actual"], predictions["prediction"])

0.6077844311377245

In [54]:
predictions

      actual  prediction
2354       1           0
2355       1           1
2356       1           1
2357       0           0
2358       0           1
...      ...         ...
4687       0           0
4688       1           1
4689       0           0
4690       0           0
4691       1           1

[2338 rows x 2 columns]